.table{
	max-width: 1080px;
	background-color: green;
	width: 90%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 20px;
	overflow:hidden;
	padding: 10%;
	
}

#win-loss{
	background-color: red;
	width: 15%;
	margin: auto;
	color: white;
	text-align: center;
	font-size: 40px;
}

#win-count{
	display: inline;
}


.card{
	color: black;
	background: white;
	height: 140px;
	width: 90px;
	padding: 10px;
	margin: 10px;
	float: left;
}

.card.empty{
	border: 2px solid blue;
	border-radius: 7px;
	background: grey;
}

#dealer-total-wrapper{
	margin-left: -50%;
	color: white;
	font-size: 40px;
}

#player-total-wrapper{
	margin-left: -50%;
	color: white;
	font-size: 40px;
}

#draw-button, #hitbutton, #stand-button{
	font-size: 30px;
	background-color: orange;
	border-radius: 7px;
	border-color: black;
}

#dealer-cards, #player-cards{
	position: relative;
	width: 115%;

}

#play-buttons{
	margin-left: auto;
	width:56%;
	clear:both;
}


#player-hand{
	clear: both;
	margin-left: 35%;
	position: relative;

}

#dealer-hand{
	clear: both;
	margin-left: 35%;
	position: relative;
}

#message{
	font-size: 40px;
	color: red;
	text-align: center;
}